<section class="cabecera">
    
</section>
<section class="cuerpo">
    
    <button mat-raised-button color="primary">Este es un botón</button>

    <mat-form-field>
        <mat-label>Este es un formulario</mat-label>
        <input type="text" matInput>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Este es un selector</mat-label>
        <mat-select>
            <mat-option vale="1">Esta es una opción</mat-option>
            <mat-option vale="2">Esta es otra opción</mat-option>
        </mat-select>
    </mat-form-field>
</section>
<section class="footer"></section>